In [1]:
import numpy as np
import pandas as pd
import h5py

from specutils import Spectrum1D
from specutils import SpectralRegion
from specutils.analysis import equivalent_width
from specutils.analysis import fwhm
from astropy import units as u
import matplotlib.pyplot as plt 
import seaborn as sns 

plt.rcParams["figure.figsize"] = [16,9]
sns.set_style('whitegrid')

PLOT_MASK = range(1475,1550)

In [2]:
hf_grid = h5py.File("/home/pravn/Dropbox/Masters/Research Data/wl_grid.h5", "r")
wl_grid = np.array(hf_grid["wl_grid"])
wl_grid = wl_grid[PLOT_MASK]

In [3]:
original_masked = pd.read_csv("/home/pravn/Documents/original_masked.csv")
predicted_masked = pd.read_csv("/home/pravn/Documents/predicted_masked_4.csv")

In [4]:
original_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,1.024633,...,0.981723,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692
1,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,0.873538,...,0.920796,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629
2,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,0.808645,...,0.850151,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658
3,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,0.776972,...,0.826576,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907
4,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,0.737946,...,0.807266,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344

In [5]:
predicted_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,1.019182,1.017749,1.015491,1.015715,1.015113,1.016797,1.015604,1.013580,1.006573,0.998317,...,0.986478,0.986598,0.986922,0.988926,0.994707,0.999556,1.002814,1.005851,1.004199,0.995997
1,0.928745,0.926934,0.925377,0.923152,0.920408,0.917205,0.913576,0.908692,0.904901,0.900192,...,0.933250,0.935991,0.938311,0.940278,0.941960,0.944766,0.945740,0.947768,0.948669,0.949600
2,0.830340,0.831576,0.833123,0.829931,0.828365,0.824044,0.819453,0.813485,0.808351,0.802994,...,0.843797,0.848357,0.852005,0.856204,0.858766,0.862029,0.862934,0.865754,0.866538,0.867237
3,0.813817,0.813041,0.812409,0.809186,0.805605,0.800339,0.795858,0.790463,0.785865,0.779343,...,0.823093,0.827550,0.831496,0.834964,0.838419,0.841410,0.844203,0.846821,0.848838,0.850690
4,0.752773,0.749413,0.745974,0.741231,0.736172,0.731087,0.724204,0.719459,0.711881,0.705488,...,0.757659,0.762106,0.766502,0.771136,0.774545,0.778970,0.783061,0.786405,0.789626,0.792716

In [6]:
difference = original_masked - predicted_masked

In [7]:
difference.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,-0.016252,0.002351,0.009000,0.006634,-0.002332,-0.024783,-0.043025,-0.032965,0.010980,0.026316,...,-0.004755,0.013412,0.023669,-0.002039,0.003363,0.035285,0.036542,0.011425,-0.000900,-0.003304
1,-0.014771,-0.001854,-0.011361,-0.012439,-0.010952,-0.021920,-0.026898,-0.007880,-0.003125,-0.026654,...,-0.012454,0.023579,0.017051,-0.020439,-0.025608,-0.017329,0.009025,0.027510,0.016256,-0.008972
2,0.022228,0.024043,0.019436,0.017355,0.014919,0.009868,-0.004295,0.001888,0.014534,0.005651,...,0.006353,-0.006423,-0.014300,-0.008860,0.002802,0.013044,0.023860,0.018975,0.012346,-0.007578
3,-0.013851,-0.007627,-0.021876,-0.024814,-0.041096,-0.033775,-0.010487,-0.008021,-0.009291,-0.002371,...,0.003483,0.006765,-0.010674,-0.010727,-0.016661,-0.016382,-0.010404,0.005511,0.011307,0.009217
4,0.009392,0.004492,0.010873,0.030792,0.032479,0.025312,0.023563,0.030626,0.040444,0.032458,...,0.049607,0.059042,0.063977,0.055535,0.046198,0.036093,0.020254,0.007072,-0.001488,0.017628

In [8]:
difference_inverted = 1 - difference

In [9]:
difference_inverted.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,1.016252,0.997649,0.991000,0.993366,1.002332,1.024783,1.043025,1.032965,0.989020,0.973684,...,1.004755,0.986588,0.976331,1.002039,0.996637,0.964715,0.963458,0.988575,1.000900,1.003304
1,1.014771,1.001854,1.011361,1.012439,1.010952,1.021920,1.026898,1.007880,1.003125,1.026654,...,1.012454,0.976421,0.982949,1.020439,1.025608,1.017329,0.990975,0.972490,0.983744,1.008972
2,0.977772,0.975957,0.980564,0.982645,0.985081,0.990132,1.004295,0.998112,0.985466,0.994349,...,0.993647,1.006423,1.014300,1.008860,0.997198,0.986956,0.976140,0.981025,0.987654,1.007578
3,1.013851,1.007627,1.021876,1.024814,1.041096,1.033775,1.010487,1.008021,1.009291,1.002371,...,0.996517,0.993235,1.010674,1.010727,1.016661,1.016382,1.010404,0.994489,0.988693,0.990783
4,0.990608,0.995508,0.989127,0.969208,0.967521,0.974688,0.976437,0.969374,0.959556,0.967542,...,0.950393,0.940958,0.936023,0.944465,0.953802,0.963907,0.979746,0.992928,1.001488,0.982372

In [10]:
difference_inverted["EW"] = difference_inverted.apply(lambda row : equivalent_width(Spectrum1D(spectral_axis=wl_grid*u.AA,flux=row.to_numpy()*u.Jy), continuum=1).value, axis=1)

In [11]:
difference_inverted["EW"].describe()

count    588344.000000
mean          0.005342
std           0.416188
min        -103.572160
25%          -0.025552
50%           0.003083
75%           0.031447
max         257.010119
Name: EW, dtype: float64

In [12]:
difference_inverted.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,1.016252,0.997649,0.991000,0.993366,1.002332,1.024783,1.043025,1.032965,0.989020,0.973684,...,0.986588,0.976331,1.002039,0.996637,0.964715,0.963458,0.988575,1.000900,1.003304,-0.126985
1,1.014771,1.001854,1.011361,1.012439,1.010952,1.021920,1.026898,1.007880,1.003125,1.026654,...,0.976421,0.982949,1.020439,1.025608,1.017329,0.990975,0.972490,0.983744,1.008972,-0.029253
2,0.977772,0.975957,0.980564,0.982645,0.985081,0.990132,1.004295,0.998112,0.985466,0.994349,...,1.006423,1.014300,1.008860,0.997198,0.986956,0.976140,0.981025,0.987654,1.007578,-0.025962
3,1.013851,1.007627,1.021876,1.024814,1.041096,1.033775,1.010487,1.008021,1.009291,1.002371,...,0.993235,1.010674,1.010727,1.016661,1.016382,1.010404,0.994489,0.988693,0.990783,-0.076222
4,0.990608,0.995508,0.989127,0.969208,0.967521,0.974688,0.976437,0.969374,0.959556,0.967542,...,0.940958,0.936023,0.944465,0.953802,0.963907,0.979746,0.992928,1.001488,0.982372,0.131133

In [13]:
difference_inverted.to_csv("/home/pravn/Documents/difference_ew_4.csv",index=None)

In [14]:
sobject_id = pd.read_csv("/home/pravn/Documents/sobject_id.csv")

In [15]:
sobject_id.head()

        sobject_id
0  131116000501002
1  131116000501004
2  131116000501005
3  131116000501006
4  131116000501007

In [16]:
difference_inverted["sobject_id"] = sobject_id["sobject_id"]

In [17]:
difference_inverted.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1542,1543,1544,1545,1546,1547,1548,1549,EW,sobject_id
0,1.016252,0.997649,0.991000,0.993366,1.002332,1.024783,1.043025,1.032965,0.989020,0.973684,...,0.976331,1.002039,0.996637,0.964715,0.963458,0.988575,1.000900,1.003304,-0.126985,131116000501002
1,1.014771,1.001854,1.011361,1.012439,1.010952,1.021920,1.026898,1.007880,1.003125,1.026654,...,0.982949,1.020439,1.025608,1.017329,0.990975,0.972490,0.983744,1.008972,-0.029253,131116000501004
2,0.977772,0.975957,0.980564,0.982645,0.985081,0.990132,1.004295,0.998112,0.985466,0.994349,...,1.014300,1.008860,0.997198,0.986956,0.976140,0.981025,0.987654,1.007578,-0.025962,131116000501005
3,1.013851,1.007627,1.021876,1.024814,1.041096,1.033775,1.010487,1.008021,1.009291,1.002371,...,1.010674,1.010727,1.016661,1.016382,1.010404,0.994489,0.988693,0.990783,-0.076222,131116000501006
4,0.990608,0.995508,0.989127,0.969208,0.967521,0.974688,0.976437,0.969374,0.959556,0.967542,...,0.936023,0.944465,0.953802,0.963907,0.979746,0.992928,1.001488,0.982372,0.131133,131116000501007

In [18]:
first_column = difference_inverted.pop('sobject_id')

In [19]:
difference_inverted.insert(0, 'sobject_id', first_column)

In [20]:
difference_inverted.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,131116000501002,1.016252,0.997649,0.991000,0.993366,1.002332,1.024783,1.043025,1.032965,0.989020,...,0.986588,0.976331,1.002039,0.996637,0.964715,0.963458,0.988575,1.000900,1.003304,-0.126985
1,131116000501004,1.014771,1.001854,1.011361,1.012439,1.010952,1.021920,1.026898,1.007880,1.003125,...,0.976421,0.982949,1.020439,1.025608,1.017329,0.990975,0.972490,0.983744,1.008972,-0.029253
2,131116000501005,0.977772,0.975957,0.980564,0.982645,0.985081,0.990132,1.004295,0.998112,0.985466,...,1.006423,1.014300,1.008860,0.997198,0.986956,0.976140,0.981025,0.987654,1.007578,-0.025962
3,131116000501006,1.013851,1.007627,1.021876,1.024814,1.041096,1.033775,1.010487,1.008021,1.009291,...,0.993235,1.010674,1.010727,1.016661,1.016382,1.010404,0.994489,0.988693,0.990783,-0.076222
4,131116000501007,0.990608,0.995508,0.989127,0.969208,0.967521,0.974688,0.976437,0.969374,0.959556,...,0.940958,0.936023,0.944465,0.953802,0.963907,0.979746,0.992928,1.001488,0.982372,0.131133

In [21]:
difference_inverted.to_csv("/home/pravn/Documents/difference_ew_sobject_id_4.csv",index=None)

In [22]:
original_masked["sobject_id"] = sobject_id["sobject_id"]

In [23]:
original_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,sobject_id
0,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,1.024633,...,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,131116000501002
1,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,0.873538,...,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,131116000501004
2,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,0.808645,...,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,131116000501005
3,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,0.776972,...,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,131116000501006
4,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,0.737946,...,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,131116000501007

In [24]:
first_column = original_masked.pop('sobject_id')

In [25]:
original_masked.insert(0, 'sobject_id', first_column)

In [26]:
original_masked.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,0.981723,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.920796,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.850151,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.826576,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.807266,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344

In [27]:
original_masked["EW"] = difference_inverted["EW"]

In [28]:
original_masked.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,-0.126985
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,-0.029253
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,-0.025962
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,-0.076222
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,0.131133

In [29]:
original_masked.to_csv("/home/pravn/Documents/original_masked_ew_sobject_id_4.csv",index=None)