In [31]:
import numpy as np
import pandas as pd
import h5py

from specutils import Spectrum1D
from specutils import SpectralRegion
from specutils.analysis import equivalent_width
from specutils.analysis import fwhm
from astropy import units as u
import matplotlib.pyplot as plt 
import seaborn as sns 

plt.rcParams["figure.figsize"] = [16,9]
sns.set_style('whitegrid')

PLOT_MASK = range(1475,1550)

In [32]:
hf_grid = h5py.File("/home/pravn/Dropbox/Masters/Research Data/wl_grid.h5", "r")
wl_grid = np.array(hf_grid["wl_grid"])
wl_grid = wl_grid[PLOT_MASK]

In [33]:
original_masked = pd.read_csv("/home/pravn/Documents/original_masked.csv")
predicted_masked = pd.read_csv("/home/pravn/Documents/predicted_masked_3.csv")

In [34]:
original_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,1.024633,...,0.981723,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692
1,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,0.873538,...,0.920796,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629
2,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,0.808645,...,0.850151,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658
3,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,0.776972,...,0.826576,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907
4,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,0.737946,...,0.807266,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344

In [35]:
predicted_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,1.017888,1.015430,1.015811,1.013516,1.013240,1.012834,1.012697,1.010537,1.003064,0.995877,...,0.986016,0.982224,0.981516,0.984524,0.990988,0.998239,1.001527,1.003683,1.000485,0.989618
1,0.928305,0.927644,0.925845,0.924406,0.921411,0.917730,0.914741,0.910498,0.904735,0.900098,...,0.934229,0.936144,0.937635,0.940189,0.942214,0.945037,0.946786,0.947948,0.949752,0.950209
2,0.843758,0.845937,0.845646,0.844689,0.841126,0.836990,0.832899,0.828602,0.822400,0.819045,...,0.856344,0.859661,0.863053,0.866349,0.868532,0.871693,0.872709,0.874927,0.874615,0.876372
3,0.816605,0.817103,0.815448,0.813496,0.809247,0.804014,0.799375,0.794839,0.788721,0.784376,...,0.826515,0.830929,0.834933,0.837340,0.840729,0.844239,0.846683,0.849415,0.851226,0.853595
4,0.763637,0.760868,0.757086,0.753079,0.748228,0.742717,0.737145,0.731269,0.725198,0.718559,...,0.768607,0.772509,0.776837,0.781116,0.784601,0.788841,0.792636,0.795997,0.799758,0.802939

In [36]:
difference = original_masked - predicted_masked

In [37]:
difference.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,-0.014958,0.004670,0.008679,0.008833,-0.000459,-0.020820,-0.040118,-0.029922,0.014489,0.028757,...,-0.004293,0.017787,0.029075,0.002363,0.007081,0.036601,0.037829,0.013592,0.002814,0.003074
1,-0.014331,-0.002564,-0.011830,-0.013693,-0.011955,-0.022445,-0.028064,-0.009685,-0.002959,-0.026560,...,-0.013433,0.023426,0.017728,-0.020350,-0.025861,-0.017601,0.007979,0.027330,0.015173,-0.009581
2,0.008810,0.009682,0.006914,0.002596,0.002158,-0.003078,-0.017741,-0.013229,0.000485,-0.010400,...,-0.006193,-0.017726,-0.025348,-0.019004,-0.006963,0.003380,0.014085,0.009802,0.004270,-0.016713
3,-0.016640,-0.011689,-0.024915,-0.029124,-0.044737,-0.037450,-0.014004,-0.012397,-0.012147,-0.007404,...,0.000061,0.003386,-0.014111,-0.013103,-0.018971,-0.019210,-0.012884,0.002918,0.008919,0.006312
4,-0.001472,-0.006963,-0.000239,0.018944,0.020422,0.013682,0.010623,0.018817,0.027127,0.019387,...,0.038659,0.048639,0.053642,0.045555,0.036142,0.026223,0.010680,-0.002520,-0.011620,0.007405

In [38]:
difference_inverted = 1 - difference

In [39]:
difference_inverted.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,1.014958,0.995330,0.991321,0.991167,1.000459,1.020820,1.040118,1.029922,0.985511,0.971243,...,1.004293,0.982213,0.970925,0.997637,0.992919,0.963399,0.962171,0.986408,0.997186,0.996926
1,1.014331,1.002564,1.011830,1.013693,1.011955,1.022445,1.028064,1.009685,1.002959,1.026560,...,1.013433,0.976574,0.982272,1.020350,1.025861,1.017601,0.992021,0.972670,0.984827,1.009581
2,0.991190,0.990318,0.993086,0.997404,0.997842,1.003078,1.017741,1.013229,0.999515,1.010400,...,1.006193,1.017726,1.025348,1.019004,1.006963,0.996620,0.985915,0.990198,0.995730,1.016713
3,1.016640,1.011689,1.024915,1.029124,1.044737,1.037450,1.014004,1.012397,1.012147,1.007404,...,0.999939,0.996614,1.014111,1.013103,1.018971,1.019210,1.012884,0.997082,0.991081,0.993688
4,1.001472,1.006963,1.000239,0.981056,0.979578,0.986318,0.989377,0.981183,0.972873,0.980613,...,0.961341,0.951361,0.946358,0.954445,0.963858,0.973777,0.989320,1.002520,1.011620,0.992595

In [40]:
difference_inverted["EW"] = difference_inverted.apply(lambda row : equivalent_width(Spectrum1D(spectral_axis=wl_grid*u.AA,flux=row.to_numpy()*u.Jy), continuum=1).value, axis=1)

In [41]:
difference_inverted["EW"].describe()

count    588344.000000
mean         -0.011559
std           0.204632
min         -39.850504
25%          -0.044466
50%          -0.012128
75%           0.018109
max          67.883141
Name: EW, dtype: float64

In [42]:
difference_inverted.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,1.014958,0.995330,0.991321,0.991167,1.000459,1.020820,1.040118,1.029922,0.985511,0.971243,...,0.982213,0.970925,0.997637,0.992919,0.963399,0.962171,0.986408,0.997186,0.996926,-0.037339
1,1.014331,1.002564,1.011830,1.013693,1.011955,1.022445,1.028064,1.009685,1.002959,1.026560,...,0.976574,0.982272,1.020350,1.025861,1.017601,0.992021,0.972670,0.984827,1.009581,0.008589
2,0.991190,0.990318,0.993086,0.997404,0.997842,1.003078,1.017741,1.013229,0.999515,1.010400,...,1.017726,1.025348,1.019004,1.006963,0.996620,0.985915,0.990198,0.995730,1.016713,-0.094523
3,1.016640,1.011689,1.024915,1.029124,1.044737,1.037450,1.014004,1.012397,1.012147,1.007404,...,0.996614,1.014111,1.013103,1.018971,1.019210,1.012884,0.997082,0.991081,0.993688,-0.087229
4,1.001472,1.006963,1.000239,0.981056,0.979578,0.986318,0.989377,0.981183,0.972873,0.980613,...,0.951361,0.946358,0.954445,0.963858,0.973777,0.989320,1.002520,1.011620,0.992595,0.076844

In [43]:
difference_inverted.to_csv("/home/pravn/Documents/difference_ew_3.csv",index=None)

In [44]:
sobject_id = pd.read_csv("/home/pravn/Documents/sobject_id.csv")

In [45]:
sobject_id.head()

        sobject_id
0  131116000501002
1  131116000501004
2  131116000501005
3  131116000501006
4  131116000501007

In [46]:
difference_inverted["sobject_id"] = sobject_id["sobject_id"]

In [47]:
difference_inverted.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1542,1543,1544,1545,1546,1547,1548,1549,EW,sobject_id
0,1.014958,0.995330,0.991321,0.991167,1.000459,1.020820,1.040118,1.029922,0.985511,0.971243,...,0.970925,0.997637,0.992919,0.963399,0.962171,0.986408,0.997186,0.996926,-0.037339,131116000501002
1,1.014331,1.002564,1.011830,1.013693,1.011955,1.022445,1.028064,1.009685,1.002959,1.026560,...,0.982272,1.020350,1.025861,1.017601,0.992021,0.972670,0.984827,1.009581,0.008589,131116000501004
2,0.991190,0.990318,0.993086,0.997404,0.997842,1.003078,1.017741,1.013229,0.999515,1.010400,...,1.025348,1.019004,1.006963,0.996620,0.985915,0.990198,0.995730,1.016713,-0.094523,131116000501005
3,1.016640,1.011689,1.024915,1.029124,1.044737,1.037450,1.014004,1.012397,1.012147,1.007404,...,1.014111,1.013103,1.018971,1.019210,1.012884,0.997082,0.991081,0.993688,-0.087229,131116000501006
4,1.001472,1.006963,1.000239,0.981056,0.979578,0.986318,0.989377,0.981183,0.972873,0.980613,...,0.946358,0.954445,0.963858,0.973777,0.989320,1.002520,1.011620,0.992595,0.076844,131116000501007

In [48]:
first_column = difference_inverted.pop('sobject_id')

In [49]:
difference_inverted.insert(0, 'sobject_id', first_column)

In [50]:
difference_inverted.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,131116000501002,1.014958,0.995330,0.991321,0.991167,1.000459,1.020820,1.040118,1.029922,0.985511,...,0.982213,0.970925,0.997637,0.992919,0.963399,0.962171,0.986408,0.997186,0.996926,-0.037339
1,131116000501004,1.014331,1.002564,1.011830,1.013693,1.011955,1.022445,1.028064,1.009685,1.002959,...,0.976574,0.982272,1.020350,1.025861,1.017601,0.992021,0.972670,0.984827,1.009581,0.008589
2,131116000501005,0.991190,0.990318,0.993086,0.997404,0.997842,1.003078,1.017741,1.013229,0.999515,...,1.017726,1.025348,1.019004,1.006963,0.996620,0.985915,0.990198,0.995730,1.016713,-0.094523
3,131116000501006,1.016640,1.011689,1.024915,1.029124,1.044737,1.037450,1.014004,1.012397,1.012147,...,0.996614,1.014111,1.013103,1.018971,1.019210,1.012884,0.997082,0.991081,0.993688,-0.087229
4,131116000501007,1.001472,1.006963,1.000239,0.981056,0.979578,0.986318,0.989377,0.981183,0.972873,...,0.951361,0.946358,0.954445,0.963858,0.973777,0.989320,1.002520,1.011620,0.992595,0.076844

In [51]:
difference_inverted.to_csv("/home/pravn/Documents/difference_ew_sobject_id_3.csv",index=None)

In [52]:
original_masked["sobject_id"] = sobject_id["sobject_id"]

In [53]:
original_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,sobject_id
0,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,1.024633,...,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,131116000501002
1,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,0.873538,...,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,131116000501004
2,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,0.808645,...,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,131116000501005
3,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,0.776972,...,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,131116000501006
4,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,0.737946,...,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,131116000501007

In [54]:
first_column = original_masked.pop('sobject_id')

In [55]:
original_masked.insert(0, 'sobject_id', first_column)

In [56]:
original_masked.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,0.981723,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.920796,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.850151,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.826576,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.807266,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344

In [57]:
original_masked["EW"] = difference_inverted["EW"]

In [58]:
original_masked.head()

,sobject_id,1475,1476,1477,1478,1479,1480,1481,1482,1483,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,131116000501002,1.002929,1.020100,1.024491,1.022349,1.012781,0.992014,0.972579,0.980616,1.017553,...,1.000010,1.010591,0.986887,0.998070,1.034840,1.039356,1.017275,1.003299,0.992692,-0.037339
1,131116000501004,0.913974,0.925080,0.914015,0.910713,0.909456,0.895285,0.886678,0.900813,0.901776,...,0.959569,0.955362,0.919839,0.916352,0.927437,0.954766,0.975278,0.964925,0.940629,0.008589
2,131116000501005,0.852568,0.855619,0.852560,0.847285,0.843284,0.833912,0.815157,0.815373,0.822885,...,0.841934,0.837705,0.847344,0.861569,0.875073,0.886794,0.884729,0.878885,0.859658,-0.094523
3,131116000501006,0.799966,0.805414,0.790533,0.784372,0.764509,0.766564,0.785371,0.782442,0.776574,...,0.834315,0.820822,0.824237,0.821758,0.825028,0.833799,0.852333,0.860145,0.859907,-0.087229
4,131116000501007,0.762165,0.753905,0.756847,0.772023,0.768651,0.756399,0.747767,0.750086,0.752324,...,0.821148,0.830479,0.826671,0.820743,0.815063,0.803316,0.793477,0.788137,0.810344,0.076844

In [59]:
original_masked.to_csv("/home/pravn/Documents/original_masked_ew_sobject_id_3.csv",index=None)